@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --bannerImage: url("../assets/images/banner-large.png");
  --navBackgroundColour: #4f372f;
  --primaryColour: #4f372f;
}

.venue.webSettings.bannerImage {
  background-image: var(--bannerImage);
  background-position: center;
  background-size: cover;
}
.venue.webSettings.navBackgroundColour {
  background-color: var(--navBackgroundColour);
}
.venue.webSettings.primaryColour {
  color: var(--primaryColour);
  border-color: var(--primaryColour);
}
